<div class="search-container">
  {{ page | json }}
  <app-paginator
    [length]="(pokemonsLength$ | async) || 0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 15, 20]"
    (page)="onChangePage($event)"
  />
  <app-search-input (search)="onSearch($event)" />
  <div class="pokemons">
    @for (pokemon of pokemons$ | async; track $index) {
      <div class="pokemon-card-container">
        <app-pokemon-preview [pokemon]="pokemon" (clickPokemon)="onClickPokemon($event)" />
      </div>
    }
  </div>
</div>
