.search-container {
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #d5f3f8;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-bottom: 30px;
}

.pokemon-card-container {
  min-width: 160px;
}